[Unit]
Description=HOMEd Web Service

[Service]
ExecStart=/usr/bin/homed-web
Environment=LD_LIBRARY_PATH=/usr/lib
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
