html[theme="light"] {
    --background-main:  #ffffff;
    --background-shade: #eeeeee;
    --background-hover: #dddddd;
    --background-error: #ffdddd;
    --border-loader:    #888888;
    --border-main:      #cccccc;
    --border-shade:     #eeeeee;
    --color-main:       #444444;
    --color-shade:      #888888;
    --color-highlight:  #000000;
    --range-main:       #cccccc;
    --range-dark:       #666666;
    --range-light:      #eeeeee;
    color-scheme:       light;
}

html[theme="dark"] {
    --background-main:  #111111;
    --background-shade: #222222;
    --background-hover: #333333;
    --background-error: #331111;
    --border-loader:    #888888;
    --border-main:      #444444;
    --border-shade:     #222222;
    --color-main:       #cccccc;
    --color-shade:      #888888;
    --color-highlight:  #ffffff;
    --range-main:       #444444;
    --range-dark:       #222222;
    --range-light:      #cccccc;
    color-scheme:       dark;
}

html {
    --color-success:    #008000;
    --color-warning:    #fbb040;
    --color-error:      #ff4000;
    --border-radius:    5px;
    --box-shadow:       0 0 20px rgba(127, 127, 127, 0.2);
    --header-height:    50px;
    --footer-height:    40px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-shade) var(--background-main);
    font-size: 14px;
}

body {
    margin: 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    background-color: var(--background-main);
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--color-main);
    -webkit-text-size-adjust: 100%;
}

body * {
    scrollbar-width: thin;
}

button {
    cursor: pointer;
    height: 24px;
    padding: 0 10px 1px 10px;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    background-color: var(--background-shade);
    font-family: var(--font-family);
    font-size: 0.8125rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-main);
}

button:hover:enabled {
    background-color: var(--background-hover);
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

input[type="checkbox"] {
    margin: 2px;
    margin-right: 5px;
}

input[type="datetime-local"], input[type="number"], input[type="password"], input[type="text"], select, textarea {
    width: 100%;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    background-color: var(--background-main);
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--color-main);
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="datetime-local"], input[type="number"], input[type="password"], input[type="text"], select {
    height: 30px;
    margin-bottom: 10px;
    padding: 0 5px;
}

textarea {
    height: 75px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Roboto Mono';
    font-size: 0.8125rem;
    resize: vertical;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 5px;
    margin-left: -2px;
    border: 2px solid var(--background-main);
    border-radius: 5px;
    background-color: var(--range-main);
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 #000000;
}

input[type="range"]::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 2px #666666;
}

input[type="time"] {
    height: 14px;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
}

input.level {
    background: linear-gradient(to right, var(--range-dark), var(--range-light));
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

label.checkbox {
    cursor: pointer;
    justify-content: start;
}

label.checkbox:hover {
    color: var(--color-highlight);
}

form label:last-child {
    margin-bottom: 10px;
}

pre {
    overflow-x: auto;
    padding: 5px;
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    font-size: 13px;
    font-family: 'Roboto Mono';
}

span.value {
    margin: 1px 0;
    padding: 0 6px 1px 6px;
    border-radius: var(--border-radius);
    border: 1px solid var(--background-hover);
    background-color: var(--background-shade);
    font-family: 'Roboto Mono';
    font-size: 0.8125rem;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th {
    padding: 5px 10px;
    border-bottom: 1px solid var(--border-shade);
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    color: var(--color-shade);
}

tfoot th {
    padding-bottom: 15px;
    border: none;
    border-top: 1px solid var(--border-shade);
}

td {
    padding: 5px;
    padding-top: 4px;
    border-top: 1px solid var(--border-shade);
    white-space: nowrap;
}

td.edit {
    cursor: pointer;
}

td.move {
    cursor: pointer;
    width: 14px;
    color: var(--color-shade);
}

td.remove {
    cursor: pointer;
    width: 14px;
    text-align: right;
}

td.edit:hover, td.move:hover {
    color: var(--color-warning);
}

td.remove:hover {
    color: var(--color-error);
}

.fade-in {
    animation: fadeIn linear 0.25s;
}

.fade-out {
    animation: fadeOut linear 0.25s;
}

.shade {
    color: var(--color-shade);
}

.highlight {
    color: var(--color-highlight);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.error {
    color: var(--color-error);
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.offline {
    background-color: var(--background-error);
}

.inactive {
    opacity: 0.5;
}

.buttons {
    display: inline-flex;
    gap: 5px;
    white-space: nowrap;
}

.note {
    padding: 0 5px;
    color: var(--color-shade);
}

.pageLoader {
    width: 20px;
    height: 20px;
    margin: 20px auto;
    border: 2px solid var(--border-main);
    border-top: 2px solid var(--border-loader);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.dataLoader {
    width: 10px;
    height: 10px;
    border: 2px solid var(--border-main);
    border-top: 2px solid var(--border-loader);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.placeholder {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    border-radius: var(--border-radius);
    background: repeating-linear-gradient(135deg, var(--color-shade), var(--color-shade) 5px, transparent 5px, transparent 10px);
    opacity: 0.75;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown:hover {
    color: var(--color-warning);
}

.dropdown hr {
    height: 1px;
    margin: 5px -10px;
    border: none;
    background-color: var(--border-main);
}

.dropdown .list {
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 1;
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    background-color: var(--background-shade);
    box-shadow: var(--box-shadow);
}

.dropdown .empty {
    text-align: center;
    padding: 1px 0;
    color: var(--color-shade);
}

.dropdown .item {
    padding: 2px 0;
    white-space: nowrap;
    text-transform: none;
    text-align: left;
    color: var(--color-main);
}

.dropdown .item:hover {
    color: var(--color-warning);
}

.login {
    max-width: 300px;
    min-height: calc(100vh - 20px);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.login img {
    height: 100px;
    margin: 40px 0;
}

.login button {
    width: 100%;
}

.container {
    overflow: auto;
    margin: 0 auto;
}

.content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 1px);
    padding: 0 15px;
}

.header
{
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 15px;
    background-color: var(--background-shade);
    white-space: nowrap;
}

.header img {
    height: calc(var(--header-height) - 20px);
    margin: 10px 5px;
}

.header span {
    cursor: pointer;
    padding: 0 5px;
    text-transform: uppercase;
}

.header span:hover {
    color: var(--color-highlight);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .services {
    margin-right: 10px;
}

.header .menu {
    margin-left: auto;
}

.header .dropdown {
    position: absolute;
}

.header .dropdown:hover {
    color: var(--color-highlight);
}

.header .dropdown .list {
    line-height: 20px;
    padding: 5px 28px 5px 10px;
    top: -10px;
    left: -5px;
    right: inherit;
}

.header .dropdown .item {
    text-transform: uppercase;
}

.footer
{
    height: var(--footer-height);
    line-height: var(--footer-height);
    padding: 0 15px;
    background-color: var(--background-shade);
    font-size: 0.8125rem;
    white-space: nowrap;
    color: var(--color-shade);
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: var(--color-shade);
}

.footer a:hover {
    color: var(--color-main);
}

.emptyList {
    padding: 15px 0;
    text-align: center;
    color: var(--color-shade);
}

.itemList tbody tr {
    cursor: pointer;
}

.itemList tbody tr:hover {
    background-color: var(--background-hover);
}

.itemList td {
    overflow: hidden;
    max-width: 100px;
    padding: 10px;
    text-overflow: ellipsis;
}

.itemList .tiny {
    width: 25px;
}

.itemList .sort {
    cursor: pointer;
}

.itemList .sort:hover {
    color: var(--color-warning);
}

.dashboardMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto;
    padding: 5px;
    padding-left: 0;
    white-space: nowrap;
    color: var(--color-shade);
}

.dashboardList {
    padding: 8px 0;
}

.dashboardList span {
    cursor: pointer;
    padding: 0 5px;
}

.dashboardList span:hover {
    color: var(--color-highlight);
}

.dashboardData {
    display: flex;
    flex-wrap: wrap;
}

.dashboardData .column {
    flex: 1;
    padding: 0 5px;
    min-width: 330px;
}

.dashboardBlock {
    margin-bottom: 10px;
    padding: 10px 5px;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    background-color: var(--background-shade);
}

.dashboardBlock .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0 5px 10px 5px;
}

.dashboardBlock tr {
    cursor: pointer;
}

.dashboardBlock tr:hover {
    color: var(--color-highlight);
}

.dashboardBlock td {
    border-top: 1px solid var(--border-main);
}

.dashboardBlock canvas {
    max-width: 100%;
    max-height: 150px;
}

.dashboardBlock .label td {
    padding-bottom: 0;
}

.dashboardBlock .chart {
    padding-top: 0;
    border: none;
}

.dashboardBlock .value {
    width: 1%;
    text-align: right;
}

.dashboardBlock .edit {
    cursor: pointer;
    color: var(--color-shade);
}

.dashboardBlock .edit:hover {
    color: var(--color-warning);
}

.dashboardBlock .toggle {
    cursor: pointer;
    margin-left: 8px;
}

.dashboardBlock .offline {
    background-color: var(--background-shade);
    color: var(--color-shade);
}

.automationInfo table, .itemInfo table, .deviceInfo table {
    margin-bottom: 20px;
}

.automationInfo td:first-child, .itemInfo td:first-child {
   width: 150px;
}

.automationInfo td {
    white-space: normal;
    vertical-align: top;
}

.automationInfo td span {
    display: inline-block;
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
    vertical-align: bottom;
    text-overflow: ellipsis;
}

.automationInfo .title, .itemInfo .title, .deviceInfo .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 5px 10px 4px;
}

.automationInfo {
    padding-bottom: 150px;
}

.automationInfo .title a {
    color: var(--color-shade);
}

.automationInfo .title a:hover {
    color: var(--color-main);
}

.itemInfo .chart {
    height: 300px;
    margin: 0 3px;
}

.deviceInfo .summary tr {
    display: none;
}

.deviceInfo td:first-child {
    width: 25%;
    min-width: 150px;
}

.deviceInfo td:last-child {
    font-family: 'Roboto Mono';
    font-size: 13px;
}

.deviceMap svg {
    display: block;
    width: calc(100% - 10px);
    height: calc(100vh - var(--header-height) - var(--footer-height) - 48px);
    margin: 10px 5px;
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    background-color: var(--background-main);
    box-sizing: border-box;
}

.deviceMap svg text {
    cursor: pointer;
    paint-order: stroke;
    stroke: var(--background-main);
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 2px;
    fill: var(--color-main);
    font-size: 12px;
}

.deviceMap svg text:hover {
    fill: var(--color-highlight);
}

.deviceMap svg .node {
    stroke: var(--color-main);
    stroke-width: 1.5px;
    fill: var(--background-shade);
}

.deviceMap svg .node:hover {
    stroke: var(--color-error);
}

.deviceMap svg .link {
    stroke: var(--border-main);
    stroke-width: 1px;
}

.deviceMap svg .text {
    fill: var(--color-shade);
    font-size: 9px;
}

.deviceMap svg .highlight {
    stroke: var(--color-warning);
}

.deviceMap .checkbox {
    padding: 0 5px;
}

.exposes td button {
    height: 18px;
    margin-right: 5px;
    font-size: 0.8125rem;
}

.exposes input[type="number"] {
    width: 100px;
    height: 18px;
    margin-right: 5px;
    margin-bottom: 0;
    padding-right: 0;
}

.exposes input[type="time"] {
    margin-right: 5px;
}

.exposes textarea {
    margin-bottom: 0;
}

.exposes .label i {
    cursor: pointer;
    color: var(--color-shade);
}

.exposes .label i:hover {
    color: var(--color-main);
}

.exposes .value {
    width: 1%;
    min-width: 40px;
    padding-right: 20px;
}

.exposes .value:last-child {
    padding-right: 5px;
}

.exposes .value .color {
    width: 13px;
    height: 13px;
    border-radius: 25%;
}

.exposes .control {
    color: var(--color-shade);
}

.exposes .control span {
    cursor: pointer;
}

.exposes .control span:hover {
    color: var(--color-highlight);
}

.log {
    display: block;
    overflow-y: auto;
    max-height: 500px;
}

.log tr:hover {
    color: var(--color-highlight);
}

.log td:first-child {
    width: 1%;
}

.log .circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.log .timestamp {
    font-size: 0.8125rem;
    color: var(--color-shade);
}

.title .name {
    overflow: hidden;
    font-size: 1.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title .interval {
    font-family: 'Roboto Mono';
    font-size: 13px;
    color: var(--color-shade);
}

.title .interval span {
    cursor: pointer;
    margin: 0px 2px;
}

.title .interval span:first-child {
    margin-left: 0;
}

.title .interval span:last -child {
    margin-right: 0;
}

.title .interval span:hover {
    color: var(--color-highlight);
}

.title .status {
    font-size: 0.8125rem;
    color: var(--color-shade);
}

.datepicker {
    display: none;
    padding: 0 5px 10px 5px;
}

th:first-child, td:first-child {
    padding-left: 5px;
}

th:last-child, td:last-child {
    padding-right: 5px;
}

tr:first-child td {
    border: none;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal label .extend, #modal label .dropdown {
    cursor: pointer;
    color: var(--color-shade);
}

#modal label .extend:hover, #modal label .dropdown:hover {
    color: var(--color-warning);
}

#modal label .dropdown {
    margin-left: 3px;
}

#modal label .dropdown .item {
    font-size: 1rem;
}

#modal pre {
    margin: 0;
    margin-bottom: 10px;
}

#modal table {
    margin-top: 5px;
    margin-bottom: 20px;
    border-top: 1px solid var(--border-shade);
    border-bottom: 1px solid var(--border-shade);
}

#modal table.select {
    margin-bottom: 10px;
}

#modal table td:first-child, #modal table th:first-child {
    padding-left: 0;
}

#modal table.exposes td:first-child {
    width: 1%;
    padding-right: 20px;
}

#modal table td:last-child {
    padding-right: 0;
    text-align: right;
}

#modal table td.control, #modal table td.otaData {
    font-family: 'Roboto Mono';
    font-size: 13px;
}

#modal table td.otaData {
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

#modal table td.dropdown {
    width: 14px;
}

#modal .data {
    max-width: min(600px, calc(100% - 40px));
    margin: 25px auto;
    padding: 10px;
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    background-color: var(--background-main);
    box-shadow: var(--box-shadow);
}

#modal .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    margin-bottom: 10px;
}

#modal .copy {
    cursor: pointer;
    color: var(--color-shade);
}

#modal .copy:hover {
    cursor: pointer;
    color: var(--color-warning);
}

#modal .note {
    padding: 0;
    font-size: 0.8125rem;
}

#modal .legend, #modal .log, #modal .states {
    border: none;
}

#modal .legend td:first-child, #modal .states td:first-child {
    width: 120px;
}

#modal .legend td:last-child, #modal .log td:last-child, #modal .states td:last-child {
    text-align: left;
}

#modal .dropdown .list {
    overflow: auto;
    min-width: min(400px, calc(100vw - 60px));
    max-height: calc(100vh - 300px);
}

#modal .dropdown .list input[type="text"] {
    margin: 10px 0;
}

#toast {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 2;
    width: 300px;
}

#toast .item {
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    background-color: var(--background-main);
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    text-align: left;
    color: var(--color-main);
}

#toast .message {
    margin: 10px;
}

#toast .success {
    border-left: 5px solid var(--color-success);
}

#toast .warning {
    border-left: 5px solid var(--color-warning);
}

#toast .error {
    border-left: 5px solid var(--color-error);
}

#footerData {
    padding: 0 5px;
}

#hotkeys {
    cursor: pointer;
}

#toggleTheme, #toggleWide, #logout {
    cursor: pointer;
    padding: 0 5px;
}

#hotkeys:hover, #toggleTheme:hover, #toggleWide:hover, #logout:hover {
    color: var(--color-main);
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    0%   { max-height: 0; opacity: 0; }
    100% { max-height: 100px; opacity: 1; }
}

@keyframes fadeOut {
    0%   { max-height: 100px; opacity: 1; }
    100% { max-height: 0; opacity: 0; }
}

@media (max-width: 1030px) {
    .narrowHidden { display: none; }
}

@media (max-width: 680px) {
    .header, .footer, .content { padding: 0 5px; }
    .header .dropdown .list { left: 13px; padding-right: 10px;}
    .automationInfo td span { max-width: 150px; }
    .automationInfo td:first-child, .itemInfo td:first-child { width: 75px; }
    .mobileHidden { display: none; }
}