@font-face {
    font-family: 'HOMEd Icons';
    src: url('../font/homed-icons.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans-cyrillic.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/roboto-mono-cyrillic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/roboto-mono-latin.woff2') format('woff2');
}

[class^="icon-"] {
    display: inline-block;
    font-family: 'HOMEd Icons';
    font-style: normal;
    margin: 0 0.1rem;
}

.icon-true:before     { content: '\e800'; }
.icon-false:before    { content: '\e801'; }
.icon-on:before       { content: '\e802'; }
.icon-off:before      { content: '\e803'; }
.icon-list:before     { content: '\e804'; }
.icon-settings:before { content: '\e805'; }
.icon-battery:before  { content: '\e806'; }
.icon-plug:before     { content: '\e807'; }
.icon-enable:before   { content: '\e808'; }
.icon-edit:before     { content: '\e809'; }
.icon-trash:before    { content: '\e80a'; }
.icon-info:before     { content: '\e80b'; }
.icon-code:before     { content: '\e80c'; }
.icon-map:before      { content: '\e80d'; }
.icon-hash:before     { content: '\e80e'; }
.icon-plus:before     { content: '\e80f'; }
.icon-download:before { content: '\e810'; }
.icon-upload:before   { content: '\e811'; }
.icon-copy:before     { content: '\e812'; }
.icon-goto:before     { content: '\e813'; }
.icon-left::before    { content: '\e814'; }
.icon-right::before   { content: '\e815'; }
.icon-up::before      { content: '\e816'; }
.icon-down::before    { content: '\e817'; }
.icon-enter::before   { content: '\e818'; }
.icon-chart::before   { content: '\e819'; }
.icon-refresh::before { content: '\e81a'; }
.icon-search::before  { content: '\e81b'; }
.icon-group::before   { content: '\e81c'; }
.icon-chain::before   { content: '\e81d'; }
.icon-warning::before { content: '\e81e'; }